* {
  margin: 0;
  font-family: Arial;
}

.nav {
  min-height: 80px;
  background-color: blue;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 410px) {
  .nav {
    flex-direction: column;
  }
  .nav button{
    margin:5px;
  }
}

.wrapper {
  margin: 10px;
}
.wrapper2 {
  margin: 10px;
}

.submitButton{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 15px;
  color: white;
  display: flex;
  background-color: royalblue;
  align-items: center;
  justify-content: center;
  height: 30px;
  max-width: 100px;
  border-radius: 15px;
  cursor: pointer;
  outline: 0;
}

.loginButton{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 15px;
  color: white;
  display: flex;
  background-color: royalblue;
  align-items: center;
  justify-content: center;
  height: 30px;
  max-width: 100px;
  border-radius: 15px;
  cursor: pointer;
  outline: 0;
}

.submitButton:hover{
  background-color: orange;
  outline: 0;
}

button {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 100px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 24px;
  cursor: pointer;
  outline: 0;
}

button:hover {
  background-color: orange;
  outline: 0;
}

button:active {
  background-color: goldenrod;
  outline: 0;
}