*{
  margin:0;
}


.nav{
  min-height:80px;
  background-color:blue;
  width:100%;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

button{
  text-transform:uppercase;
  display:flex;
  align-items:center;
  justify-content:center;
  height:50px;
  min-width:100px;
  background-color:royalblue;
  color:white;
  border:none;
  border-radius:15px;
  font-size:24px;
  cursor:pointer;
  outline:0;
}

button:active{
  background-color:orange;
  outline:0;
}